:root {
  --color-bg: #ffffff;
  --color-fg: #1c1c1c;
  --color-inactive: rgba(28, 28, 28, 0.4);
  --color-accent: #7b47ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}
