:root {
  --color-bg: #ffffff;
  --color-fg: #1c1c1c;
  --color-inactive: rgba(28, 28, 28, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
